{%load staticfiles%}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Edad</td>
            <td>Comentario</td>
        </tr>
    </thead>

    </tbody>

    {%if mascotas%} {%for mascota in mascotas%}
    <tr>
        <td>{{ mascota.id}}</td>
        <td>{{ mascota.nombre}}</td>
        <td>{{ mascota.edad}}</td>
        <td>{{ mascota.comentario}}</td>
    </tr>
    {%endfor%} {%else%}
    <h1>No hay registros</h1>
    {%endif%}
    </tbody>
</table>