<h2 class="post-subtitle">
    ESTE SITIO PERMITE REGISTRAR Y VER LOS REGISTROS REALIZADOS
</h2>

<h3 class="post-subtitle">
    (Aplicacion correspondiente al examen final de proyectos 2s2019)
</h3>

<li class="dropdown">
    <ul class="dropdown-menu" role="menu">
        <li class="nav-item"><a class="nav-link" href="/formulario/registro">Registro</a></li>
        <li class="nav-item"><a class="nav-link" href="/formulario/listar">Ver_Registros</a></li>
    </ul>
</li>